p{
    background-color: chocolate;
    border: 10px solid black;

}
li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: darkgrey;
}
button{
    background-color: brown;
    width: none;
    border: 5px solid green;
    padding: 50px;
    box-shadow: 10px solid red;
}